<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  <link type="text/css" rel="stylesheet" href="/stylesheets/custom.css" />
  <title>Course Evaluation System</title>
</head>
	<body>
        <div id="content">
        <div id="upper-padding">
          <div id="banner">
          <h1>Course Evaluation System</h1>
          </div>
        </div>
		{% if 'faculty' == user_type: %}
			<form id="form-faculty" action="/faculty" method="POST">
				<input type="hidden" name="user_email" value={{user_email}}>
			</form>

			<script type="text/javascript">
				document.getElementById('form-faculty').submit(); // SUBMIT FORM
			</script>
		{% endif %}

		{% if 'student' == user_type: %}
			<form id="form-student" action="/student" method="POST">
				<input type="hidden" name="user_email" value={{user_email}}>
			</form>

			<script type="text/javascript">
				document.getElementById('form-student').submit(); // SUBMIT FORM
			</script>
		{% endif %}
        <div id="lower-padding"></div>
        </div>
	</body>
</html>
{% endautoescape %}
