<!DOCTYPE html>
{% autoescape true %}
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
		<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
		<link type="text/css" rel="stylesheet" href="/stylesheets/custom.css" />
	</head>
	<body>
        <div id="content">
        <div id="upper-padding">
          <div id="banner">
          <h1>Course Evaluation System</h1>
          </div>
        </div>
		<div id="enrolled">{{user_email}} is enrolled in:</div>
		{% for course in courses: %}
			<script>
			var a = false;
			{% for feedback in feedbacks: %}
				{% if feedback.course==course: %}
					a=true;
					break;
				{% endif %}
			{% endfor %}
			if(!a) {
                var div = document.createElement('div');
                div.className = 'rows';
				div.innerHTML = "<form id='feedback-{{course}}' action='/createFeedback' method='POST'><input type='hidden' name='user_email' value={{user_email}}><input type='hidden' name='course' value={{course}}></form><br><a href='#' onclick=document.getElementById('feedback-{{course}}').submit()>{{course}}</a>";
			}
                document.getElementById('content').appendChild(div);
			</script>
			
		{% endfor %}
        <div id="lower-padding">
		<br> <a href="/">Logout</a>
        </div>
      </div>
	</body>
</html>
{% endautoescape %}
